botconfig.py
phoneconfig.py
static/musicmap.html
static/musicmap2.html
static/easel.js
static/music.jpg
static/musicselector.html
static/musicshow.html
static/musicshow2.html
static/musicshower.html
static/scanlines.png
static/VolumeData.js
